* {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

.lateral-bar {
  background-color: #f1f1f1;
  border-style: solid;
  border-color: #a0a1ad;
  width: 5%;
  position: absolute;
  height: 100%;
}

.bar-img {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  align-items: center;
  cursor: pointer;
}

.home-img {
  top: 2%;
  width: 80%;
}

.exit-img {
  bottom: 2%;
  width: 70%;
}

h1 {
  text-align: center;
  padding-top: 4%;
  font-size: 60px;
  margin-left: 5%;
  font-weight: 500;
  color: #404042;
}

.card {
  border: none;
  margin-top: 5%;
  width: 100%;
  height: 220px;
}

.topic-name {
  margin-top: 35%;
  color: #797c93;
  font-size: 30;
  font-weight: 300;
}

.add-topic {
  margin-top: 10%;
  color: #797c93;
  font-size: 30;
  font-weight: 300;
}

.tema {
  position: absolute;
  background-color: #ffffff;
  border-style: solid;
  border-color: #a0a1ad;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
  z-index: 950;
  cursor: pointer;
}

.tema:hover {
  box-shadow: 5px 16px 4px rgba(0, 0, 0, 0.1);
}

.add-tema {
  margin-top: 5%;
  width: 100%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #a0a1ad;
  border-radius: 20px;
  width: 100%;
  height: 220px;
  text-align: center;
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.add-tema:hover {
  box-shadow: 5px 16px 4px rgba(0, 0, 0, 0.1);
}

.actions {
  display: grid;
  grid-template-columns: 20% 50%;
  margin-top: 5px;
}

.card-img {
  width: 18%;
}

.edit-img {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.edit {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 5%;
  height: 27%;
  width: 15%;
  right: 0;
  top: 199px;
  border-radius: 0px 0px 15px 15px;
  background-color: #a0a1ad;
  z-index: 900;
  cursor: pointer;
}

.edit:hover {
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.trash {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: 20px;
  right: 20%;
  width: 12%;
  height: 15%;
  top: 203px;
  cursor: pointer;
}

.trash:hover {
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.add-img {
  margin-top: 10%;
  width: 35%;
}

.add-text {
  margin-bottom: 100px;
}

.display-cards {
  margin-top: 5%;
  margin-left: 13%;
  display: grid;
  grid-template-columns: 18% 5% 18% 5% 18% 5% 18%;
}

.save {
  position: fixed;
  bottom: 3%;
  right: 2%;
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  background-color: #8f909b;
  border-radius: 9999px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.save:hover {
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
}

.save-img {
  margin: auto;
  width: 60%;
}

.popup-card {
  position: absolute;
  background-color: #ffffff;
  border-style: solid;
  border-color: #a0a1ad;
  text-align: center;
  border-radius: 20px;
  width: 35%;
  height: auto;
  right: 30%;
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
  z-index: 950;
  top: 20%;
}

.cancel-button {
  width: 15%;
  position: absolute;
  bottom: 10%;
  left: 20%;
  cursor: pointer;
}

.cancel-button:hover {
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.accept-button:hover {
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.accept-button {
  width: 15%;
  position: absolute;
  bottom: 10%;
  right: 20%;
  cursor: pointer;
}

.insert-text {
  font-size: 45px;
  font-weight: 500;
  color: #404042;
}

.insert-title {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: left;
  color: #797c93;
  font-size: 30;
  font-weight: 300;
}

.form-control {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 80%;
  resize: none;
  margin-bottom: 30%;
}

.insert-password {
  color: #404042;
}
